extends layout

block content
    .page-header
        h1
            | #{doc.title}
            small
                |  par
                a(href="/author/" + doc.author.id)  #{doc.author.firstName} #{doc.author.lastName} <#{doc.author.nickname}>

    .row
        .col-sm-2 Céer à :
        .col-sm-10.text-right #{doc.createdAt}

    .row
        .col-sm-2 Dernière modification à :
        .col-sm-10.text-right #{doc.updatedAt}

    hr

    div!= parsedText

    hr

    form.text-center(action="/document/" + doc.id + "?_method=DELETE", method="POST")
        .btn-group
            a.btn.btn-primary#mod-button(href="/document/" + doc.id + "/edit") Modifier
            button.btn.btn-warning#del-button(type="submit") Supprimer

